.row_deactivated{
  background: #eee;
}

table tr td form{
  float: left !important;
  margin-bottom: 0;
}
table tr td .btn{
	margin-bottom: 0;
}
.br-section-wrapper{
	min-height: 450px;
}
.or_divider{
	background: #fff;
	margin: 0;
	padding: 0;
	font-size: 12px;
	margin-top: 10px;
	color: #222;
}