body
{
    font-size: 14px;
    color: #abacae;
    letter-spacing: 1.2px;
    line-height: 25px;
    font-weight: normal;
}
label.error  {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px !important;
    color: red; 
    height: 0px !important;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
}
.h1, .h2, .h3, h1, h2, h3
{
    margin: 0px;

}
ul li
{
    list-style: outside none none;
}
ul
{
    padding: 0;
}
a
{
    color: #62c2c6;
}
a:hover, a:focus
{
    color: #62c2c6;
    text-decoration: none;
}

textarea
{
    resize: none;
}
/**************  padding ***********/
.p-10
{
    padding: 10px;
}
.p-20
{
    padding: 20px;
}
.p-0
{
    padding: 0px;
}
.p-t-20
{
    padding-top: 20px;
}
/************* Margin ***********/
.margin-auto
{
    margin:auto;
}
.m-b-25
{
    margin-bottom: 25px;
}
.m-b-0
{
    margin-bottom: 0px !important;
}
.m-t-0
{
    margin-top: 0px !important;
}
.m-t-5
{
    margin-top: 5px !important;
}
.m-t-15
{
    margin-top: 15px !important;
}
.m-t-10
{
    margin-top: 8px !important;
}
.m-t-20
{
    margin-top: 20px !important;
}
.m-t-30
{
    margin-top: 30px !important;
}
.m-t-40
{
    margin-top: 40px !important;
}
.m-0
{
    margin: 0 !important;
}
.m-b-10
{
    margin-bottom: 8px !important;
}
.m-b-40
{
    margin-bottom: 40px !important;
}
.m-b-30
{
    margin-bottom: 30px !important;
}
.m-b-20
{
    margin-bottom: 20px !important;
}
.m-b-15
{
    margin-bottom: 15px !important;
}
.m-b-3
{
    margin-bottom: 3px !important;
}
.m-b-0
{
    margin-bottom: 0px !important;
}
.m-l-10
{
    margin-left: 10px;
}
.m-r-5
{
    margin-right: 5px;
}
.m-r-10
{
    margin-right: 10px;
}
.m-r-20
{
    margin-right: 20px;
}
.m-r-30
{
    margin-right: 30px;
}
/**************** navbar ****************/
.btn .badge {
    position: relative;
     left: -20px;
    top: -10px;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #89afb0;
    border-radius: 10px;
}
.navbar
{
    min-height: 80px;
    margin-bottom: 0px;
    padding: 12px;
}
.navbar-brand
{
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.nav>li>a:focus, .nav>li>a:hover
{
    background-color: #fff;
}

.navbar-toggle .icon-bar {
    background-color: #b7b7b9;
}
.nav-item
{
    color: #333;
    transition: width 2s ease;
    background-color: transparent;
}
.top-nav
{
    background: rgba(65, 125, 127, 0.62) !important;
    min-height: 55px;
    padding: 0px;
    z-index: 999999;
    top: 0px !important;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.navbar-default {
    background: transparent;
    border-color: transparent;
}
.navbar-color
{
    background: rgba(65, 125, 127, 0.62);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a
{
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.8px;
}
.active > a
{
    color: #fff !important;
}
.nav-item:hover
{
    color: #fff !important;
    width: 100%;
    border-bottom: 2px solid #62c2c6;
    transition: width 2s;
    -webkit-transition: width 2s;
    -ms-transition: width 2s;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.dropdown-menu>li>a {
    padding: 10px 10px;
}
.notification-media
{

}
.top-menu-dropdown-2
{
    right: -80px;
    left: auto;;
}
.top-menu-dropdown-2 > li > a:hover
{
    background-color: #f9f9f9;
}
.notification-media > p
{
    color: #333;
    font-size: 14px;
    margin-bottom: 3px;
    line-height: 1.4;
    white-space: normal;
}
.notification-media >span
{
    color: #abacae;
    font-size: 13px;
}
.top-menu-dropdown-2
{
    width: 220px;
    padding: 0;
    height: 240px;
    overflow-y: scroll;
}

.top-menu-dropdown-2 > li
{
    border-bottom: 1px solid #417c7e;
}
.header-top {
    background: #417d7f;
    padding: 8px;
}
.nav-d-flex
{
    display: flex;
    justify-content: flex-end;
}
.top-menu i
{
    color: #fff;
    font-size: 18px;
}
.top-menu i:hover
{
    color: #fff;
}
.top-menu-dropdown
{
    padding: 10px;
}
.top-menu-dropdown>li>a
{
    padding: 5px 10px;
}
.top-menu-dropdown>li>a > i
{
    width: 20px;
}
.top-menu-dropdown>li>a:hover
{
    background-color: #417d7f ;
    color: #fff;
}
.nav-d-flex > div
{
    height: 28px;
}
.top-menu-dropdown
{
    right: -80px;
    left: auto;;
}
.nav-d-flex > div > a
{
    color: #fff;
}
.nav-d-flex > div > a > i
{
    margin-right: 5px;
}
.nav-d-flex > div > a:hover
{
    text-decoration: none;
}
.carousel-inner .item > img
{
    height: 500px !important;
    width: 100%;
}
.header-menu
{
    background: transparent;
    border: transparent;
}
.header-menu i
{
    font-size: 18px;
    color: #fff;
}
.transaction>td.transaction-ques
{
    width: 200px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.transaction>td
{
    max-width: 350px;
}
.transaction > th{
    color: #333;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
    color: #fff;
    background-color: transparent;
}
/***************   background Image   ******************/
.background-img
{
    background-image: url("../../image/bg-5.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:520px;
}
.banner-text
{
    padding-top: 160px;
}
.banner-text > h3 > span
{
    font-weight: bold;
    color: #62c2c6;
}
.banner-text > h3
{
    color: #333;
    font-weight: normal;
    font-size: 50px;
    line-height: 38px;
    margin-bottom: 30px;
}
.banner-text > h4 > span
{
    font-weight: bold;
    color: #62c2c6;
    font-size: 22px;
}
.banner-text > h4
{
    color: #333;
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 1.1px;
}

.banner-sliders .banner-sliders {
    text-align: center;
    padding: 0 5px;
}
.banner-sliders .banner-sliders div {
    padding-top: 160px;
    /*text-align: center;*/
    /*background: #642165;*/
    /*color: white;*/
    /*padding: 28px 0;*/
    /*border-radius: 3px;*/
}
/************** service **************/
.service-content
{
    width:75%;
}
.service-content p
{
    font-size: 14px;
    color: #abacae;
}
.services-item:hover
{
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
.service-flex
{
    display: flex;
    overflow: hidden;
}
.service
{
    padding: 20px 45PX;
    border-right: 1px solid #ccc!important;
}
.service-icon
{
    width: 25%;
    margin-right: 45px;
}
.service-icon i
{
    font-size: 50px;
    color: #62c2c6;
    line-height: 66px;
}
.service-content h3 {
    font-size: 18px;
    color: #585b60;
    margin-bottom: 20px;
    font-weight: 700;
}
.navbar-fixed-top
{
    background: #417d7f !important;
}
/******************   button ******************/

.btn {
    font-size: 14px;
    padding: 14px 33px;
    cursor: pointer;
    font-weight: 400;
    color: #333;
    border-radius: 4px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
    text-transform: uppercase;
}
.btn:active, .btn:focus, .btn:hover
{
    outline: none !important;
     color: #333;
     border:1px solid #333;
     background-color:transparent;
}
.btn-view
{
    float: right;
    font-size: 12px;
    padding: 4px 10px;
    background-color: #62c2c6;
    color: #fff;
    position: relative;
    z-index: 1;
    height: 25px;
}
.btn-view:hover , .btn-view.focus, .btn-view:focus
{
    background-color: transparent;
    border: 1px solid #62c2c6;
    color: #62c2c6;
}
.btn-view-pending
{
    /*float: right;*/
    font-size: 12px;
    padding: 6px 10px;
    border:1px solid #ff6100;
    color: #ff6100;
    position: relative;
    z-index: 1;
    height: 25px;
    border-radius: 30px;
}
.pending-text
{
    color: #ff6100;
}
.sucess-text
{
    color: #62c2c6;
}
.btn-view-sent
{
    float: right;
    font-size: 12px;
    padding: 6px 10px;
    background-color: #62c2c6;
    color: #fff;
    position: relative;
    z-index: 1;
    height: 25px;
    border-radius: 30px;
}
.btn-view-sent:hover
{
    background-color: #fff;
    color: #62c2c6;
    border: 1px solid #62c2c6;
}
.btn-transparent
{
    padding: 0px;
    background-color: transparent;
}
.btn-theme
{
    background-color: #62c2c6;
    color: #fff;
    position: relative;
    z-index: 1;
}
.btn-theme:hover, .btn-theme.focus, .btn-theme:focus
{
    border:1px solid #62c2c6;
    color: #62c2c6 ;
    background-color: transparent;
}
.btn-theme-border
{
    border:1px solid #62c2c6;
    color: #62c2c6 ;
    background-color: transparent;
}
.btn-register
{
    background-color: #769c9d;
    color: #fff;
    position: relative;
    z-index: 1;
}
.btn-register:hover, .btn-register.focus, .btn-register:focus
{
    border:1px solid #769c9d;
    color: #769c9d ;
    background-color: transparent;
}
.btn-register-border
{
    border:1px solid #769c9d;
    color: #769c9d ;
}
.btn-register-border:hover, .btn-register-border.focus, .btn-register-border:focus
{
    background-color: #769c9d;
    color: #fff;
}
.btn-theme-border:hover, .btn-theme-border.focus, .btn-theme-border:focus
{
    background-color: #62c2c6;
    color: #fff;
}
.btn-transaction
{
    background-color: #62c2c6;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 3px 10px 1px;
    font-size: 12px;
}
.btn-transaction > a
{
    color: #fff;
}
.btn-transaction > a:hover, .btn-transaction:hover> a
{
    color: #62c2c6;
}
.btn-transaction:hover, .btn-transaction.focus, .btn-transaction:focus
{
    border:1px solid #62c2c6;
    color: #62c2c6 ;
    background-color: transparent;
}
.btn-transaction-border
{
    border:1px solid #62c2c6;
    color: #62c2c6 ;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 30px;
}
.btn-Complete
{
    border:1px solid #008000a8;
    color: #008000a8 ;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 6px;
}
.btn-pending
{
    border:1px solid #ff6100;
    color: #ff6100 ;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 6px;
}
.btn-notify
{
    background:#ff6100 ;
    color: #fff !important;
    padding: 5px 10px 3px;
    font-size: 12px;
    border-radius: 6px;
    outline:none;
}
.btn-notify:hover, .btn-notify:focus
{
    background:transparent ;
    border:1px solid #ff6100;
    color: #ff6100 !important;
    box-shadow: none;
    outline:none;
}
.btn-notify-disable, .btn-notify-disable:hover, .btn-notify-disable:focus
{
    background:#ddd ;
    color: #555 !important;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 600;
    outline:none;
}

.btn-pending> a
{
    color: #fff;
}
.btn-comment, .btn-comment:hover, .btn-comment.focus, .btn-comment:focus
{
    font-size: 14px;
    padding: 10px 14px;
    background-color: #62c2c6;
    color: #fff;
    position: relative;
    z-index: 1;
}
.btn-search-transparent, .btn-search-transparent:hover
{
    font-size: 25px;
    color: #222222;
    display: inline-block;
    font-weight: 700;
    position: relative;
    background-color: transparent;
    border:none;
    outline: none;
}
/* common css */
.section-padding
{
    padding: 60px 0;
}
.page-top-space
{
    margin-top: 55px;
}
.bg-white
{
    background-color: #ffffff !important;
}
.bg-gray
{
    background-color: #f9f9f9;
}
.bg-primary
{
    /*background-color: #62c2c6;*/
    background: rgba(65, 125, 127, 0.62) !important;
}
.section-header
{
    margin-bottom: 30px;
}
.section-title {
    font-size: 30px;
    color: #222222;
    display: inline-block;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.client-img
{
    background-image: url("../../image/bg-6.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section-title-white
{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section-title span {
    color: #62c2c6;
}
/*************** top ques ***************/
.border
{
    border: 1px solid #eaeaea;
    box-shadow: none !important;
}
.border-left
{
    border-left: 1px solid #ddd;
}
.top-que {
    /*height:204px;*/
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    margin: 15px 0;
    box-shadow: 0px 2px 18px 0px #ccc;
    /*box-shadow: 0 0 12px #F4F4F4;*/
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.top-que:hover {
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
.top-que-icon {
    border: 1px solid #f1f1f1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    margin-bottom: 20px;
}
.top-que-icon i {
    font-size: 30px;
    color: #62c2c6;
    line-height: 66px;
}
.top-que-icon img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /*border: 1px solid #f1f1f1;*/
}
.top-que-content h3 {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    /*height: 0px;*/
    overflow: hidden;
}
.top-que-content h5 {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
    overflow: hidden;
}
.top-que-content p
{
    font-size: 14px;
    margin-bottom: 0px;
    color: #abacae;
    text-align: left;
}
.top-que-content h2 {
    font-size: 14px;
    color: #abacae;
    margin-top: 5px;
    text-align: left;
}
.view-que
{
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    margin: 15px 0;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.view-que-content h3
{
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 24px;
    text-align: justify;
}
.user-name
{
    color: #fff;
}
.view-que-content p
{
    font-size: 15px;
    margin-bottom: 0px;
    color: #747474;
    text-align: left;
}
.view-que-content h2 {
    font-size: 15px;
    color: #747474;
    margin-top: 5px;
    text-align: left;
    margin-bottom: 30px;
}
.give-ans
{
    font-size: 13px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fafafa;
    border: 1px solid #efefef;
    border-radius: 3px;
    position: relative;
    min-height: 32px;
}
.comment-content
{
    font-weight: 400;
    margin: 0px;
    font-size: 15px;
    color: #888;
    line-height: 22px;
    text-align: justify;
}

/*****************   Top Lawyers   ******************/
.banner-button h4 {
    margin: 0px;
    font-size: 14px;
    color: #abacae;
}
.banner-button h5 {
    font-weight: 400;
    margin: 0px;
    font-size: 14px;
    color: #abacae;
    margin-left: 20px;
}
.box-shadow
{
    box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
}
.lawyer-item
{
    margin: 15px 0 0;
    border-radius: 0px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    background: #fff;
}
.lawyer-img
{
    position: relative;
}
.lawyer-img-2
{
    max-width: 290px;
}
.lawyer-img-2 > img
{
    max-width: 100%;
    border: 6px solid #fff;
}

.online
{
    /* display:none; */
    position: absolute;
    bottom: 2px;
    right: 1px;
    color: #62c2c6;
    height: 15px;
    width: 15px;
    background-color: #62c2c6;
    border-radius: 50%;
}
.profile > img
{
    position: absolute;
    top: 2px;
    right: 1px;
}

.badge-profile
{
    width: 20%;
    padding-top: 14px;
    padding-bottom: 7px;
}

.lawyer-item .contetn-profile
{
    padding:0px 20px;
}

.lawyer-item .info-text
{
    padding-top: 14px;
    padding-bottom: 7px;
}
.lawyer-item .info-text h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}
.lawyer-item .info-text h3 a {
    color: #585b60;
}
.lawyer-item .info-text h3 a:hover
{
    text-decoration: none;
    color: #62c2c6;
}
.btn-lawyer-ask
{
    background-color: #62c2c6;
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 10px;
    padding: 6px 12px 7px;
}
.btn-lawyer-ask:hover
{
    border: 1px solid #62c2c6;
    color: #62c2c6;
    background-color: transparent;
}

.btn-lawyer-talk
{
    border: 1px solid #62c2c6;
    color: #62c2c6;
    font-size: 10px;
    padding: 6px 12px 7px;
    background-color: transparent;
}
.btn-lawyer-talk:hover
{
    background-color: #62c2c6;
    color: #fff;
}

.btn-lawyer-ask-profile
{
    background-color: #62c2c6;
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 10px;
    padding: 5px 12px 7px;
}
.btn-lawyer-ask-profile:hover
{
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}
.btn-lawyer-talk-profile
{
    background-color: #62c2c6;
    color: #fff;
    border: none;
    font-size: 10px;
    padding: 5px 12px 7px;
}
.btn-lawyer-talk-profile:hover
{
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}
.lawyer-item .info-text h6
{
    font-weight: 400;
    margin: 0px;
    font-size: 14px;
    color: #888;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis-multi4
{
    display: block;
    display: -webkit-box;
    height: 80px;
    margin: 0 auto;
    font-size: 26px;
    line-height: 1.4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ellipsis-multi2
{
    display: block;
    display: -webkit-box;
    height: 40.2px;
    margin: 0 auto;
    font-size: 26px;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
}
.lawyer-item .info-text p {
    margin: 0px;
    font-size: 14px;
    color: #888;
    line-height: 16px;
}
.lawyer-item .info-text h4{
    margin: 0px;
    font-size: 14px;
    color: #abacae;
}
.lawyer-item .info-text h5{
    font-weight: 400;
    margin: 0px;
    font-size: 14px;
    color: #abacae;
    margin-top: 10px;
}
.lawyer-rating
{
    border-top: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 6px;
}
.ask-lawyer-img
{
    border: 2px solid #e6e6e6;
    border-radius: 50%;
}
.Complete
{
}
/**************** lawyer profile ***************/
.lawyer-item-profile
{
    margin: 15px 0;
    border-radius: 0px;
    box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    background: #fff;
}
.lawyer-img-profile
{
    float: left;
    width: 25%;
}

.lawyer-img-profile2 > img:nth-child(1)
{
    max-width: 100%;
    border: 10px solid #fff;
}
.lawyer-img-profile2 > img:nth-child(2)
{
    position: absolute;
    top:6px;
    right: -40px;
    width: 100px;
}
.lawyer-img-profile2 i
{
    position: absolute;
    bottom: 5px;
    right: 4px;
    color: #62c2c6;
    height: 18px;
    width: 18px;
    background-color: #62c2c6;
    border-radius: 50%;
}

.badge-profile
{
    width: 20%;
    padding-top: 14px;
    padding-bottom: 7px;
}

.lawyer-item-profile .contetn-profile
{
    padding:0 20px 0 60px;
    width:75%
}

.lawyer-item-profile .info-text-profile
{
    padding-top: 20px;
    padding-bottom: 7px;
}
.lawyer-item-profile .info-text-profile h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #585b60;
}
.lawyer-item-profile .info-text-profile h3 a {
    color: #585b60;
}
.lawyer-item-profile .info-text-profile h3 a:hover
{
    text-decoration: none;
    color: #62c2c6;
}

.user-profile h3
{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #585b60;
}
.user-profile h6, .user-profile p
{
    font-size: 14px;
}

/*.btn-lawyer-ask*/
/*{*/
/*background-color: #62c2c6;*/
/*color: #fff;*/
/*position: relative;*/
/*z-index: 1;*/
/*padding: 7px 18px;*/
/*}*/
/*.btn-lawyer-ask:hover*/
/*{*/
/*border: 1px solid #62c2c6;*/
/*color: #62c2c6;*/
/*background-color: transparent;*/
/*}*/
/*.btn-lawyer-talk*/
/*{*/
/*border: 1px solid #62c2c6;*/
/*color: #62c2c6;*/
/*padding: 7px 18px;*/
/*background-color: transparent;*/
/*}*/
/*.btn-lawyer-talk:hover*/
/*{*/
/*background-color: #62c2c6;*/
/*color: #fff;*/
/*}*/
.lawyer-item-profile .info-text-profile h6
{
    font-weight: 400;
    margin: 0px;
    font-size: 14px;
    color: #888;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lawyer-item-profile .info-text-profile p {
    margin: 0px;
    font-size: 14px;
    margin-bottom: 15px;
    color: #888;
    line-height: 20px;
}
.lawyer-item-profile .info-text-profile h4{
    margin: 0px;
    font-size: 14px;
    color: #abacae;
}
.lawyer-item-profile .info-text-profile h5{
    font-weight: 400;
    margin: 0px;
    font-size: 14px;
    color: #abacae;
    margin-top: 10px;
}
.lawyer-rating
{
    margin-top: 10px;
    margin-bottom: 6px;
}

.practice-court h3
{
    font-size: 16px;
    color: #585b60;
    margin-bottom: 15px;
    font-weight: 700;
}
.border-bottom
{
    border-bottom: 1px solid #ddd !important;
}
/**************** fee ********************/
.consultant-price
{
    font-size: 28px;
    text-align: left !important;
    margin-bottom: 20px !important;
}
.consultant-price span
{
    float: right;
}
.promo
{
    margin-bottom: 3px;
    display: block;
    line-height: 1.5;
    font-weight: normal;
    color: #888;
    font-size: 14px;
}
.fee-price
{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}
.fee-price-light
{
    font-weight: 400;
    margin: 0px;
    font-size: 15px;
    color: #888;
    margin-bottom: 8px;
}
.modal-backdrop.in
{
    opacity: 0 !important;
}
.border-top
{
    border-top:1px solid #ccc
}
/****************   contact us   ****************/
.justify-content-center
{
    justify-content: center;
}
.form-control {
    width: 100%;
    margin-bottom: 2px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 6px 10px;
    box-shadow: none;
    height:40px;
    background-color: transparent;
}
.form-control:focus {
    border-color: #62c2c6;
    box-shadow: none;
    outline: none;
}
.select-control
{
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px 10px;
    box-shadow: none;
    border: 1px solid #ccc;
}
.select-control:focus {
    border-color: #62c2c6;
    box-shadow: none;
    outline: none;
}



.help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: red;
    height:23px;
    font-size: 12px;
}
.contact-info {
    margin-bottom: 18px;
}
.contact-info i
{
    font-size: 20px;
    color: #62c2c6;
}
.contact-info h5
{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.contact-info p
{
    font-size: 14px;
    margin-bottom: 0;
    line-height: 18px;
}
.answer
{
    border-top: 2px solid #61c2c6;
    padding-top: 20px;
}
.comment
{
    width: 100%;
    font-size: 14px;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: none;
    line-height: 1.5;
    vertical-align: middle;
    min-height: 42px;
    border-radius: 20px;
    padding: 4px 16px;
}
.comment-lawyer
{
    padding-left: 0px;
}
.comment-lawyer h3
{
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-align: left;
    margin-bottom: 8px;
    margin-top: 5px;
}
.comment-lawyer h6
{
    font-weight: 400;
    margin: 0px;
    font-size: 14px;
    color: #888;
    margin-bottom: 4px;
}
/*********** register ****************/
.bg-register
{
    background-image: url("../../image/bg-3.jpg");
    /*background-color: #fff;*/
    background-size: cover;
    background-position: center;
    padding: 80px 0px;
}

.register-text span
{
    color: #62c2c6;
}
.register-form
{
    padding:20px 20px;
    background-color: #ffffffc2;
    box-shadow: 0px 2px 18px 0px rgba(152, 152, 152, 0.3);
}
.register-form h2
{
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.gradient-color h2
{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.register-form h1
{
    font-size: 22px;
    font-weight: 700;
    color: #62c2c6;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.register-form h2 > span
{
    color: #62c2c6;
}
.register-text
{
    padding-right: 60px;
}
.register-text h3
{
    font-weight: lighter;
    line-height: 50px;
    font-size: 36px;
    color: #333;
    padding-top: 80px;
}
.register-text h5
{
    font-size: 22px;
    color: #333;
}
.register-control
{
    border: 1px solid #62c2c6;
    background-color: transparent;
    box-shadow: none;
    border-radius: 4px;
    padding: 6px 10px;
}
.register-control::placeholder {
    color: #333;
    opacity: 1; /* Firefox */
}
.register-flex
{
    display: flex;
    justify-content: center;
}
.forgot
{
    margin-top: 10px;
}
.forgot a
{
    color: #333;
}
.forgot a:hover, .account-sign span a:hover
{
    color: #62c2c6;
}
.account-sign
{
    margin-top: 0px;
}
.account-sign span, .account-sign span a
{
    color: #333;
}
.remember
{
    color: #333;
    font-weight: normal;
}
.form-group
{
    margin-bottom: 0px;
}
.form-group > input, .form-group > select
{
    height: 40px !important;
}
.form-group > textarea
{
    height: 94px
}
.otp-verification
{

}
.otp-verification p {
    font-size: 18px;
    color: #abacae;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.form-control-otp {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #62c2c6;
    border-top: none;
    border-left: none;
    border-right: none;
    min-height: 50px;
    border-radius: 0px;
    margin-left: 10px;
    width: 80px;
    text-align: -webkit-center;
}
.otp-verification h3
{
    font-size: 16px;
    color: #abacae;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.otp-verification h3 > span
{
    color: #62c2c6;
    cursor: default;
}
.otp-form
{
    padding:20px 20px;
    box-shadow: 0px 2px 18px 0px rgba(29, 29, 29, 0.3);
}
.d-flex
{
    display: flex;
}
/************* rating ****************/
.rating-5 > i
{
    color: #62c2c6;
}

.rating-4>i:nth-child(1) {
    color: #62c2c6;
}
.rating-4>i:nth-child(2) {
    color: #62c2c6;
}
.rating-4>i:nth-child(3) {
    color: #62c2c6;
}
.rating-4>i:nth-child(4) {
    color: #62c2c6;
}

.rating-3>i:nth-child(1) {
    color: #62c2c6;
}
.rating-3>i:nth-child(2) {
    color: #62c2c6;
}
.rating-3>i:nth-child(3) {
    color: #62c2c6;
}

.rating-2>i:nth-child(1) {
    color: #62c2c6;
}
.rating-2>i:nth-child(2) {
    color: #62c2c6;
}

.rating-1>i:nth-child(1) {
    color: #62c2c6;
}


/************** practice area ****************/
.bg-area
{
    background-image: url("../../image/practice-area2.jpg");
    /*background-color: #fff;*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7;
}

.practice-area > .lawyer-area > p
{
    color: #fff;
    line-height: 22px;
    font-weight: normal;
}
a.practice-area:hover > .lawyer-area > p
{
    text-decoration: none;
}
.practice-area-img
{
    min-height:250px;
    min-width:370px;
    position: relative;
}
.img-text
{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    padding: 0px 10px;
    background-color: rgba(0, 0, 0, 0.4);
}
.lawyer-area
{
    /*padding: 20px;*/
    margin: 15px 0;
    border-radius: 0px;
    box-shadow: 0px 2px 18px 0px rgba(29, 29, 29, 0.3);
    /*border: 1px solid rgba(0,0,0,.07);*/
    /*box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);*/
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    background: #fff;
    height:250px;
    overflow: hidden;
    position: relative;
}
.lawyer-area > .icon > i
{
    font-size: 50px;
    color: #62c2c6;
    margin-bottom: 20px;
}
.img-text > h3
{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    color: #fff;
    letter-spacing: 1.2px;
    margin-top: 125px;
}
.img-text > p
{
    height: 67px;
    color: #fff;
    overflow: hidden;
    font-size: 12px;
    margin-top: 10px;
    font-weight: normal;
}
.lawyer-area:hover
{
    /*opacity: 0.8;*/
    /*background: rgba(65, 125, 127, 0.62);*/
}
.lawyer-area:hover h3, .lawyer-area:hover p, .lawyer-area:hover .icon > i
{
    color: #fff;
    text-decoration: none;
}
.lawyers-area
{
    padding: 20px;
    margin: 15px 0;
    border-radius: 4px;
    box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    height:280px;
    overflow: hidden;
}
/*********** search *************/
.lawyer-search
{
    padding-right: 30px;
    margin: 15px 0;
    border-radius: 0px;

    border-right: 1px solid #ccc;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    background: #fff;
    overflow: hidden;
}
.lawyer-search > form > .form-group > label
{
    color: #585b60;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    word-spacing: 1.5px;
}
.lawyer-search > form > .form-group > .form-control
{
    border: 1px solid #ccc;
}
.search-control
{
    width: 100%;
    margin-bottom: 12px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px 12px;
    box-shadow: none;
    border: 1px solid #ccc;
    background-color: #fff;
}
.filter-lawyer
{
    border-bottom: 5px double #62c2c6;
    padding: 1px 0px 10px;
}
.search-title
{
    font-size: 25px;
    color: #222222;
    display: inline-block;
    font-weight: 700;
    position: relative;
}
#show-992
{
    display: none;
}
#hide-992
{
    display: block;
}
/***************** custom check box **********************/
.form-check, .form-radio {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
}
.form-check .form-check-label {
    font-size: 13px;
    line-height: 1.5;
    padding-left: 10px;
}
.form-check .form-check-label, .form-radio .form-check-label {
    display: block;
    padding-left: 30px;
    line-height: 2;
    font-weight: normal;
    color: #888;
}
.form-check .form-check-label input, .form-radio .form-check-label input {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px\9;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 0;
}
input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.form-check.form-check-flat label input:checked + .input-helper::before
{
    background-color: #61c2c6;
    border: none;
}

.form-check .form-check-label input:checked + .input-helper::after {
    width: 16px;
    opacity: 1;
    left: 2px;
    line-height: 19px;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


.form-check.form-check-flat label .input-helper::before {
    border: 2px solid #61c2c6;
}



.form-check .form-check-label .input-helper::before {
    position: absolute;
    content: "";
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 2px;
    left: 0;
    border: 2px solid #f2f2f2;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
.form-check.form-check-flat label .input-helper::after {
    color: #ffffff;
}
.form-check .form-check-label .input-helper::after {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    content:"\f00c";
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    font-size: 0.9375rem;
    font-weight: bold;
    left: 0;
    top: 14%;
    -moz-transform: translateY(-14%);
    -o-transform: translateY(-14%);
    -ms-transform: translateY(-14%);
    -webkit-transform: translateY(-14%);
    transform: translateY(-14%);
    font-family: "Font Awesome 5 Free";
    color: #0c5460;
}
/************* with out text check box ************/
.form-check2, .form-radio2 {
    position: relative;
    display: block;
}
.form-check2 .form-check-label2 {
    font-size: 13px;
    line-height: 1.5;
    padding-left: 10px;
}
.form-check2 .form-check-label2, .form-radio2 .form-check-label2 {
    display: block;
    padding-left: 30px;
    line-height: 1.5;
}

.form-check2 .form-check-label2 input, .form-radio2 .form-check-label2 input {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px\9;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 0;
}
input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.form-check2.form-check-flat2 label input:checked + .input-helper2::before {

    background-color: #61c2c6;
    border: none;

}
.form-check2 .form-check-label2 input:checked + .input-helper2::after {
    width: 18px;
    opacity: 1;
    top: 4px;
    left: 2px;
    line-height: 18px;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.form-check2.form-check-flat2 label .input-helper2::before {
    border: 2px solid #61c2c6;
}

.form-check2 .form-check-label2 .input-helper2::before {
    position: absolute;
    content: "";
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border-radius: 2px;
    left: 0;
    border: 2px solid #61c2c6;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
.form-check2.form-check-flat2 label .input-helper2::after {
    color: #ffffff;
}
.form-check2 .form-check-label2 .input-helper2::after {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    content:"\f00c";
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    font-size: 0.9375rem;
    font-weight: bold;
    left: 0;
    top: 14%;
    -moz-transform: translateY(-14%);
    -o-transform: translateY(-14%);
    -ms-transform: translateY(-14%);
    -webkit-transform: translateY(-14%);
    transform: translateY(-14%);
    color: #8862e0;
    font-family: "Font Awesome 5 Free";
}
/************** Custom radio ******************/
.form-radio.form-radio-flat label input:checked + .input-helper::before {
    background: #61c2c6;
    border:none;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.form-radio label input:checked + .input-helper::before {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    border-top-color: rgb(242, 242, 242);
    border-right-color: rgb(242, 242, 242);
    border-bottom-color: rgb(242, 242, 242);
    border-left-color: rgb(242, 242, 242);
    top: 30%;
    -moz-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}
.form-radio label input + .input-helper::before {
    position: absolute;
    content: "";
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    border: 2px solid #61c2c6;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.form-radio.form-radio-flat label input:checked + .input-helper::after {

    width: 10px;
    height: 10px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 5px;
    color: transparent;
    background: #ffffff;
    content:"\f111";
    font-family: "Font Awesome 5 Free";
    text-align: center;

}
.form-radio label input:checked + .input-helper::after {
    opacity: 1;
    line-height: 1.5;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.form-radio label input + .input-helper::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 30%;
    -moz-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
    left: 6px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    position: absolute;
}
.form-radio label input + .input-helper::before {
    position: absolute;
    content: "";
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    border: 2px solid #61c2c6;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
.form-radio label input + .input-helper::after {
    content: "";
    width: 8px;
    height: 8px;
    background: #e65251;
    border-radius: 50%;
    top: 30%;
    -moz-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
    left: 6px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    position: absolute;
}
/*****************   slick slider   ******************/
.slidercards .slidercard {
    text-align: center;
    padding: 0 5px;
}
.slidercards .slidercard div {
    text-align: center;
    background: #fff;
    color: white;
    padding: 30px 20px;
    border-radius: 3px;
}
.img-thum >img
{
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.img-thum h3
{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    color: #585b60;
    letter-spacing: 1.2px;
}
.img-thum h2
{
    margin: 0;
    clear: both;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px;
    color: #585b60;
}
.img-thum p
{
    font-size: 14px;
    color: #abacae;
    height:80px;
    overflow: hidden;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/************* About ****************/
.about-content h4 {
    font-size: 18px;
    color: #585b60;
    margin-bottom: 20px;
    font-weight: 700;
}
.about-content p {
    font-size: 14px;
    color: #abacae;
    text-align: justify;
}
.about-work h3
{
    font-size: 16px;
    color: #585b60;
    margin-bottom: 8px;
    font-weight: 700;
    height:auto;
}
.about-work p
{
    text-align: justify;
}
.modal-content {
    box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
    border: 1px solid #ccc;
    margin-top: 80px;
}
/****************** view transaction ****************/
.view-transaction p
{
    font-size: 15px;
    color: #444;
    margin-bottom: 10px;
}
.view-transaction h2
{
    font-size: 15px;
    color: #444;
    margin-bottom: 10px;
}
.view-transaction h2 span
{
    font-size: 15px;
    color: #abacae;
    margin-bottom: 10px;
}
.view-transaction-flex
{
    display: flex;
}
.view-transaction-flex1
{
    width: 25%;
}
.view-transaction-flex3
{
    width: 75%;
}
.modal-title
{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}




/************** media query ********************/


@media only screen and (max-width: 768px) {
    .banner-text > h3
    {
        font-size: 40px;
    }

    .register-text h3 {
        display: none;
    }
    .container {
        width: 100%;
    }
    .service
    {
        border-right: none !important;
        border-bottom: 1px solid #ddd;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a
    {
        color: #fff;
    }
    .text-center-xs
    {
        text-align: center !important;
    }
    .top-lawyer
    {
        display: none;
    }
}

@media only screen and (max-width: 880px)
{
    .top-menu-dropdown
    {
        right: 0px;
    }

    .top-menu-dropdown-2
    {
        right: -60px;
    }
}
@media only screen and (max-width: 1000px)  {
    .header-top-container
    {
        width: 100%;
    }
    .nav>li>a {
        padding: 15px 12px;
    }

}

@media only screen and (max-width: 992px)
{
    #show-992
    {
        display: block;
    }
    #hide-992
    {
        display: none;
    }
    .lawyer-search
    {
        border-right: none;
        padding-right: 0px;
    }
    .lawyer-item
    {
        margin: 15px 0 5px;
    }
}
@media only screen and (max-width: 500px)
{
    .form-control-otp
    {
        width: 60px;
    }


    .view-transaction-flex
    {
        display: block;
    }
    .view-transaction-flex1
    {
        width: 100%;
    }
    .view-transaction-flex2
    {
        width: 100%;
    }
    .lawyer-item .contetn
    {
        padding: 0px;
    }
    .lawyer-rating
    {
        padding-left: 0px;
    }
    .banner-text
    {
        padding-top: 100px;
    }
}
@media only screen and (max-width: 350px)
{
    /*.width-100*/
    /*{*/
    /*width: 100%;*/
    /*}*/


}
/***************   footer   *****************/
.footer-section
{
    background: #191b1f;
    padding: 60px 0 0 0;
}
.social-icon
{
    margin-left: -8px;
}
.social-icon >a >i
{
    color: #fff;
    background: transparent;
    width: 32px;
    height: 32px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    margin: 15px 6px 12px 0;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.social-icon >a >i:hover
{
    color: #62c2c6;
}
.footer-title
{
    font-size: 20px;
    color: #62c2c6;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/*.footer-title:hover*/
/*{*/
/*color: #62c2c6;*/
/*}*/
.footer-link >li
{
    margin-bottom: 10px;
}

.footer-link >li >a
{
    color: #abacae;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.footer-link >li >a:hover
{
    color: #62c2c6;
    text-decoration: none;
}
.copyright-text
{
    border-top: 1px solid #abacae;
    padding: 15px 0;
    margin: 45px 0 0px;
}
.contact > li > a, .contact > li > a:hover
{
    color: #abacae !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}


/**************************** lawyer *********************/
.lawyer-register
{

}
.lawyer-profile-area
{
    height: 200px;
    padding: 45px 20px;
    margin: 15px 0;
    border-radius: 0px;
    box-shadow: 0px 2px 18px 0px rgba(29, 29, 29, 0.3);
    /* border: 1px solid rgba(0,0,0,.07); */
    /* box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3); */
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    background: #fff;
    overflow: hidden;
}
.lawyer-profile-area > .icon > i
{
    font-size: 50px;
    color: #62c2c6;
    margin-bottom: 20px;
}
.lawyer-profile-area > h3
{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    color: #585b60;
    letter-spacing: 1.2px;
    text-align: center;
}
.lawyer-profile-area > p
{
    height: 90px;
    overflow: hidden;
    font-size: 13px;
    margin-top: 12px;
    color: #abacae;
}
.lawyer-profile-area:hover
{
    background: rgba(65, 125, 127, 0.62);
}
.lawyer-profile-area:hover h3, .lawyer-profile-area:hover p, .lawyer-profile-area:hover .icon > i
{
    color: #fff;
    text-decoration: none;
}
.form-error-group
{
    position: relative;
}
.form-exclamation
{
    bottom: 25px;
    position: absolute;
    right: 4px;
    color: red;
}
.upload-profile input
{
    opacity: 0;
    position: absolute;
    max-width: 213px;
}
.upload-profile span
{
    color:#61c2c6;
    font-size: 17px;
    margin-left: 10px;
    font-weight: 600;
}

/*********** pagination ************/
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 0px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: #61c2c6d1;
    border: 1px solid #89afb0;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #7dcdd0;
    font-weight: 600;
    background-color: transparent;
    border-color: #7dcdd0;
}
.pagination>li>a
{
    margin-right: 8px;
}
/******************* wizard **********************/
.progressbar {
    /*counter-reset: step;*/
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 16px;
    position: relative;
    text-align: center;
    color: #fbbd19;
    font-weight: 600;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #fbbd19;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #fbbd19;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #61c2c6;
}
.progressbar li.active:before {
    border-color: #61c2c6;
}

.progressbar li.active:after {
    background-color: #61c2c6;
}
.gradient-color
{
    background: linear-gradient(to right, rgba(30, 87, 153, 0.69) 0, rgba(41, 137, 216, 0.55) 0, #417d7f 0, rgba(59, 178, 184, 0.55) 100%);
}
/************ upload profile ************/
.upload-image {
    width: 150px;
    display: inline-block;
    position: relative;
    background-color: #f4f7fc;
    line-height: 10;
    height: 150px;
    border-radius: 50%;
    box-sizing: content-box;
    /*border: 3px solid #62c2c6;*/
    box-shadow: 0px 2px 18px 0px rgba(152, 152, 152, 0.38);
}
.upload-icon {
    background: #fff;
    height: 20%;
    width: 20%;
    right: 9%;
    bottom: 5%;
    border-radius: 50%;
    position: absolute;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 2px 18px 0 rgba(198, 198, 198, 0.3);
}
.upload-icon > i
{
    color: #6dc7ca;
    position: absolute;
    top: 8px;
    right: 7px;
}
.file-upload-input {
    z-index: 1;
    opacity: 0;
}
.practice-area
{
    font-size: 15px;
    font-weight: 600;
    color: #333;
}
.table-ui>tr>td, .table-ui>tr>th, .table-ui>tr>td, .table-ui>tr>th, .table-ui>tr>td, .table-ui>tr>th
{
    border-top: none !important;
}
.sui-datepicker .sui-picker-input, .sui-monthyearpicker .sui-picker-input, .sui-timepicker .sui-picker-input, .sui-datetimepicker .sui-picker-input
{
    height:  45px;
}
.sui-datepicker .sui-icon-wrapper, .sui-monthyearpicker .sui-icon-wrapper, .sui-timepicker .sui-icon-wrapper, .sui-datetimepicker .sui-icon-wrapper, .sui-datetimepicker .sui-time-icon-wrapper {
    background-color: #6dc7ca;
}
.sui-datepicker, .sui-monthyearpicker, .sui-timepicker, .sui-datetimepicker
{
    border-radius:3px;
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color: #fff;
}
@media only screen and (max-width: 500px)
{
    .progressbar li
    {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px)
{
    .progressbar li {
        font-size: 12px;
    }
}
.family-img
{
    background-image: url("../../image/area/family2.png");
    background-size: cover;
}
.criminal-img
{
    background-image: url("../../image/area/jail2.png");
    background-size: cover;
}
.civil-img
{
    background-image: url("../../image/area/civil2.png");
    background-size: cover;
}
.property-img
{
    background-image: url("../../image/area/property.png");
    background-size: cover;
}

.business-img
{
    background-image: url("../../image/area/business.png");
    background-size: cover;
}

.tax-img
{
    background-image: url("../../image/area/tax.png");
    background-size: cover;
}

.labour-img
{
    background-image: url("../../image/area/labour.png");
    background-size: cover;
}

.constitutional-img
{
    background-image: url("../../image/area/law.png");
    background-size: cover;
}

.copyright-img
{
    background-image: url("../../image/area/copyright.png");
    background-size: cover;
}
.profile
{
    margin: 15px 0;
    border-radius: 0px;
    box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
    background: rgba(65, 125, 127, 0.8);
    padding: 20px;
}
.img-profile
{
    position: relative;
    height: 150px;
    width: 150px;
    /*border: 10px solid #fff;*/
    margin: auto;
}
.info-text-profile > h3 > a, .info-text-profile > h6, .info-text-profile > p
{
    color: #fff;
}
.banner-button-profile > h4
{
    color: #fff;
    margin: 0px;
    font-size: 14px;
}
.profile-title
{
    font-size: 20px;
    color: #62c2c6;
    display: inline-block;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    cursor: default;
}
.profile-title > span
{
    float: right;
}
.review-img
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid #eee;
}
.verify
{
    position: relative;
}
.verify img
{
    position: absolute;
    right: 0px;
}
.img-profile img
{
    border-radius: 50%;
}
.img-profile i{
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #62c2c6;
    height: 18px;
    width: 18px;
    border: 2px solid #fff;
    background-color: #62c2c6;
    border-radius: 50%;
}
.img-profile > img:nth-child(2) {
    position: absolute;
    top: 6px;
    right: -20px;
    width: 60px;
}
.question
{
    border-top: 2px solid #fafafa;
    padding-top: 20px;
}
.ask-que
{
    font-size: 13px;
    padding: 12px;
    background-color: #61c2c6;
    border: 1px solid #efefef;
    border-radius: 3px;
    position: relative;
    min-height: 32px;
}
.ask-que> h6
{
    font-weight: 400;
    margin: 0px;
    font-size: 15px;
    color: #fff;
    line-height: 22px;
    text-align: justify;
}
.question-time
{
    font-weight: 400;
    margin: 0px;
    font-size: 14px;
    color: #888;
    margin-bottom: 4px;
    margin-top: 6px;
}
.lawyer-ans
{
    font-size: 13px;
    padding: 12px;
    background-color: #fafafa;
    border: 1px solid #efefef;
    border-radius: 3px;
    position: relative;
    min-height: 32px;
}

.lawyer-ans > h6
{
    font-weight: 400;
    margin: 0px;
    font-size: 15px;
    color: #888;
    line-height: 22px;
    text-align: justify;
}
.info-text h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}
.offer
{
    font-size: 1.3rem;
    color: #222;
    font-weight: 500;
    padding: .2rem .5rem;
    background: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    margin-right: 1rem;
    margin-left: 3rem;
}
.offer-save
{
    color: #09ac63;
    font-weight: 500;
    font-size: 15px;
}
.cashback
{
    font-size: 1.4rem;
    color: #8e8e8e;
}
.term
{
    font-size: 1.1rem;
    text-decoration: underline;
    margin-top: -5px;
    color: #676767;
    cursor: auto;
}
.terms-condition
{
    width: 100%;
    height: 140px;
    overflow-y: scroll;
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.13);
}
.term-heading
{
    font-size: 1.8rem;
    color: #575757;
}
.fix-textbox
{
    height: 72px;
}
.fix-textarea
{
    height: 127px;
}
.fix-term
{
    height: 27px;
}
.nav-d-flex > div > li > a
{
    color: #fff;
}
.nav-d-flex > div > li
{
    list-style-type: none;
}
.btn-search {
    background-color: #62c2c6;
    color: #fff;
    position: relative;
    padding: 10px 20px;
    z-index: 1;
}
.btn-search-cat, .btn-search-cat:hover, .btn-search-cat:active, .btn-search-cat:focus
{  background-color: #fff;
    color: #62c2c6;
    position: relative;
    padding: 10px 20px;
    z-index: 1;
}
.search-box
{
    padding: 20px 20px 12px;
    border-radius: 4px;
    text-align: center;
     margin: 15px 0;
    box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #417c7e;
}
.close
{
    opacity: 1;
}
.modal-header .close {
    margin-top: -2px;
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

table.dataTable.no-footer {
     border-bottom: none !important;
}

table.dataTable>thead{
    border-bottom: none !important;
}
.crop-box
{
    width: 100%;
    height: 300px;
    border: 1px solid #b2b2b2ee;
    background-color: #eee;
}


table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px 10px 12px;
    border-bottom: 1px solid #eee;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #417c7e !important;
    background-color: #61c2c6 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61c2c6), color-stop(100%, #61c2c6));
     background: -webkit-linear-gradient(top, #61c2c6 0%, #61c2c6 100%);
background: -moz-linear-gradient(top, #61c2c6 0%, #61c2c6 100%);
    background: -ms-linear-gradient(top, #61c2c6 0%, #61c2c6 100%);
    background: -o-linear-gradient(top, #61c2c6 0%, #61c2c6 100%);
     background: linear-gradient(to bottom, #61c2c6 0%, #61c2c6 100%);
}






.modal
{
    background-color: rgb(0,0,0, 0.4);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #c4c4c4;
    background: #fff;
}
.modal-header .close {
    margin-top: -2px;
    color: #2a2a2a;
}
.modal-title {
    color: #4f4f4f;
    font-size: 22px;
    font-weight: 700;
}

.comment {
    width: 100%;
    font-size: 14px;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: none;
    line-height: 1.5;
    vertical-align: middle;
    min-height: 150px;
    border-radius: 4px;
    padding: 6px 16px;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ccc;
}
label > select {
    border: 1px solid #ccc;
    padding: 4px;
}
.border-search
{
    border: 1px solid #417c7e;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #417c7e !important;
    border: 1px solid #417c7e;
    border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #111;
    background-color: #60c2c6;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #60c2c6), color-stop(100%, #60c2c6));
    background: -webkit-linear-gradient(top, #60c2c6 0%, #60c2c6 100%);
    background: -moz-linear-gradient(top, #60c2c6 0%, #60c2c6 100%);
    background: -ms-linear-gradient(top, #60c2c6 0%, #60c2c6 100%);
    background: -o-linear-gradient(top, #60c2c6 0%, #60c2c6 100%);
    background: linear-gradient(to bottom, #60c2c6 0%, #60c2c6 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid #417c7e;
    background: transparent;
    box-shadow: none;
}

input:checked + .error + .input-helper::after {
    width: 16px;
    opacity: 1;
    left: 2px;
    line-height: 19px;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.form-check.form-check-flat label .input-helper::after
{
    color: #417c7e !important;
}

#facility
{
display: none;
}

.btn-primary1
{
    background-color: transparent;
    border: 1px solid #fff;
}