.loader img {
    height: 32px;
    width: 32px;
}
.upload-image input#image {
    position: relative;
    opacity: 0;
}
#imgPreviewBox .btn {
    padding: 6px 12px;
}
#imgPreviewBox .cr-slider {
    background-color: #555;
}
#imgPreviewBox #upload-demo {
    margin-top: 20px;
}

/*************** Loader CSS Starts *****************/
.cropImgPreview {
    background-color: #000000;
    height: 100%;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    color: #ffffff;
    display: none;
}
.loading img {
    left: 50%;
    position: absolute;
    top: 50%;
}
.loading span {
    left: 48%;
    position: absolute;
    top: 58%;
}
/*************** Loader CSS Ends *****************/
